{% extends "base.html.twig" %}

{% block content_title %}Profil{% endblock %}

{% block content %}
	<div  {{ stimulus_controller('disable-button') }}>
		{{ form_start(settingForm) }}
		<div class="row g-4 settings-section">
			<div class="col-12 col-md-4">
				<h3 class="section-title">Nom d'utilisateur</h3>
			</div>
			<div class="col-12 col-md-6">
				<div class="app-card-body">
					<div class="mb-3">
						{{ form_row(settingForm.username) }}
					</div>
				</div><!--//app-card-body-->
			</div>
		</div><!--//row-->
		<hr class="my-4">
		<div class="row g-4 settings-section">
			<div class="col-12 col-md-4">
				<h3 class="section-title">Email:</h3>
			</div>
			<div class="col-12 col-md-4">
				<div class="app-card-body">
					<div class="mb-3">
						{{ app.user.email }}
					</div>
				</div><!--//app-card-body-->
			</div>
			<div class="col-md-4 d-flex justify-content-start justify-content-md-end">
				<button class="btn btn-primary">Modifier</button>
			</div>
		</div><!--//row-->
		<hr class="my-4">
		<div class="row g-4 settings-section">
			<div class="col-12 col-md-4">
				<h3 class="section-title">Téléphone:</h3>
			</div>
			<div class="col-12 col-md-4">
				<div class="app-card-body">
					<div class="mb-3">
						{{ app.user.number ?? "Aucun numéro de téléphone" }}
					</div>
				</div><!--//app-card-body-->
			</div>
			<div class="col-md-4 d-flex justify-content-lg-end justify-content-start">
				<button class="btn btn-primary">Modifier</button>
			</div>
		</div><!--//row-->
		<hr class="my-4">
		<div class="row g-4 settings-section">
			<div class="col-12 col-md-4">
				<h3 class="section-title">Notifications</h3>
			</div>
			<div class="col-12 col-md-6">
				<div class="app-card app-card-settings shadow-sm p-4">
					<div class="app-card-body">
						<div class="form-check form-switch mb-3">
							{{ form_row(settingForm.notifyByEmail) }}
						</div>
						<div class="form-check form-switch mb-3">
							{{ form_row(settingForm.notifyByNumber) }}
						</div>
					</div><!--//app-card-body-->
				</div>
				<button type="submit" class="mt-5 btn app-btn-primary">Enregistrer</button>
			</div>
		</div>
		{{ form_end(settingForm) }}
	</div>
{% endblock %}


