<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block header_title %}{% endblock %} </title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- FontAwesome JS-->
    <script defer src="plugins/fontawesome/js/all.min.js"></script>

    <!-- App CSS -->
    <link id="theme-style" rel="stylesheet" href="/css/portal.css">

</head>

<body class="app app-signup p-0">
<div class="row g-0 app-auth-wrapper">
    <div class="col-12 auth-main-col text-center p-5">
        <div class="d-flex flex-column align-content-end">
            <div class="app-auth-body mx-auto">
                <div class="app-auth-branding mb-4"><a class="app-logo" href="index.html">CROUSFY</a></div>
                {% include '_partials/_flash-message.html.twig' %}
                <h2 class="auth-heading text-center mb-4">
                    {% block title %}
                        {{ 'registration.title'|trans }}
                    {% endblock %}
                </h2>
                {% block content %}
                    <div class="auth-form-container text-start mx-auto">
                        {{ form_start(form) }}
                        <div class="mb-3">
                            {{ form_row(form.username) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.password) }}
                        </div>
                        {{ form_end(form) }}

                        <div class="auth-option text-center pt-5">Avez-vous un compte ? <a class="text-link" href="{{ path('app_login') }}">Se connecter</a>
                        </div>
                    </div>
                {% endblock %}

            </div>
        </div><!--//flex-column-->
    </div><!--//auth-main-col-->

</div><!--//row-->


</body>
</html>